.add-user {
  padding: 20px 0;

  input {
    width: 80px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #aaa;
  }
  button {
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
      background: #aaa;
      color: #fff;
    }
  }
}
