.app-wrap {
  margin: 10px 0;
  padding-top: 135px;

  button {

    &:hover {
      cursor: pointer;
    }
  }
}
.app-header {
  position: fixed;
  top: 0;
  height: 135px;
  width: 100%;
  padding: 0 20px;
  background: #fff;
  box-sizing: border-box;
}
.app-body {
  padding: 0 20px;
}
