.app-wrap {
  margin: 10px 0;
  padding-top: 130px;

  button {

    &:hover {
      cursor: pointer;
    }
  }
}
.app-header {
  position: fixed;
  top: 0;
  height: 140px;
  width: 100%;
  padding: 0 20px;
  background: #fff;
  box-sizing: border-box;
}
.app-message-send {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
}
.app-body {
  padding: 0 20px;
}
